<section class="hero">

  <!-- Floating Profile Cards -->
 

  <!-- Dotted Globe Background -->
  <div class="globe-dots"></div>

  <!-- ===== LOGO TUNISIE TELECOM — PUR SVG ===== -->


  <!-- Hero Text -->
   <div class="hero-content">
    <h1>
      Plateforme de Gestion<br>
      <span class="highlight">des Saisonniers</span>
    </h1>

    

    <div class="cta-buttons">
      <button class="btn-experts" (click)="goSaisonnier()">
        Administrateur 
      </button>
      <button class="btn-missions" (click)="goRH()">
         Responsable RH 
      </button>
    </div>
  </div>

  <!-- Bottom wave -->
  <div class="wave-bottom">
    <svg viewBox="0 0 1440 120" preserveAspectRatio="none">
      <path d="M0,0 C360,120 1080,120 1440,0 L1440,120 L0,120 Z" fill="white"/>
    </svg>
  </div>

</section>

<!-- ===== LOGO TUNISIE TELECOM ===== -->


<!-- Sigles TT décoratifs flottants -->



<div class="tt-deco tt-deco-4">
  <img src="assets/logo.png" alt="" aria-hidden="true" width="90" />
</div>